.user-item {
  position: relative;
  width: 1200px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto auto;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}
.user-item.selected {
  background-color: rgba(0, 0, 0, 0.3);
}
