.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form label {
  font-weight: bold;
  color: black;
  font-size: large;
}

.form input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.invalid label {
  color: red;
}

.invalid input {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
}
