.user-profile {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.user-profile-panel {
  position: sticky;
  top: 20px;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.places-list {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 80vh; /* Adjust as needed */
  overflow-y: scroll; /* Enable scrolling */
}

/* Hide scrollbar for WebKit browsers */
.places-list::-webkit-scrollbar {
  display: none;
}
