.main-navigation__menu-btn {
  background-color: transparent;
  border: none;
  position: relative;
  flex: 0;
}

.main-navigation__menu-btn span {
  display: block;
  height: 2px;
  width: 15px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
}
.main-navigation__links {
  display: flex;
  align-items: center;
}
