.main-navigation__menu-btn {
  background-color: transparent;
  border: none;
  position: relative;
  flex: 0;
}

.main-navigation__menu-btn span {
  display: block;
  height: 2px;
  width: 15px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
}
.main-navigation__links {
  flex: 1; /* Ensure the links take up the remaining space */
  display: flex;
  justify-content: flex-end; /* Align links to the right */
}
@media (min-width: 768px) {
  .main-navigation__links {
    display: flex;
  }
}
