.side-drawer {
  height: 100%;
  background: #4a90e2;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: -400px;
  width: 70%;
  max-width: 400px;
  z-index: 200;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  display: block;
}
